name: Build APK

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  build-debug:
    name: Build debug APK
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
      statuses: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug.apk
          path: ./app/build/outputs/apk/debug/app-debug.apk
